@import "../../App.scss";

.contact {
    
    @include Responsive(xs) { --padding-x: 10.5px; }
    @include Responsive(sm) { --padding-x: 12px; }
    @include Responsive(xl) { --padding-x: 15px; }

    background-color: #F3F5F7;
    .contact-body {
        background-image: url("../../assets/img/bgContact.png");
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position-x: 74px;
        background-position-y: 28px;
        width: 100%;
        background-size: cover;

        .cus-container {
            padding-left: var(--padding-x);
            padding-right: var(--padding-x);
            

            @include Responsive(xs) {
                padding-top: 72px;
                padding-bottom: 70px;
            }

            @include Responsive(sm) {
                padding-top: 72px;
                padding-bottom: 70px;
            }

            @include Responsive(md) {
                padding-top: 72px;
            }
        }

        .col-form {
            @include Responsive(xs) {
                padding-top: 0;
            }

            @include Responsive(sm) {
                padding-top: 0;
            }

            @include Responsive(xl) {
                padding-top: 96px;
            }

            form {
                background: #FFFFFF;
                border: 1px solid #DEE7F0;
                box-sizing: border-box;
                box-shadow: 0px 4px 8px rgba(39, 58, 95, 0.08);
                border-radius: 8px;

                
                @include Responsive(xs) {
                    padding: 16px;
                }

                @include Responsive(sm) {
                    padding: 16px;
                }
    
                @include Responsive(xl) {
                    padding: 32px;
                }

                h1 {
                    font-family: Gilroy-SemiBold;
                    text-align: left;
                    color: #17274E;

                    @include Responsive(xs) {
                        font-size: 36px;
                        margin-top: 39px;
                        line-height: 45px;
                        letter-spacing: -1px;
                        margin-bottom: 41px;

                    }

                    @include Responsive(sm) {
                        font-size: 36px;
                        margin-top: 39px;
                        line-height: 45px;
                        letter-spacing: -1px;
                        margin-bottom: 41px;

                    }

                    @include Responsive(md) {
                        font-size: 24px;
                        margin-top: 39px;
                        line-height: 45px;
                        letter-spacing: -1px;
                        margin-bottom: 30px;

                    }
        
                    @include Responsive(xl) {
                        font-size: 36px;
                        margin-top: 16px;
                        line-height: 60px;
                        letter-spacing: -0.5px;
                        margin-bottom: 24px;
                    }
                }

                p {
                    font-family: Gilroy-Regular;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #A4B7C8;
                    

                    @include Responsive(xs) {
                        margin-bottom: 47px;
                    }

                    @include Responsive(sm) {
                        margin-bottom: 47px;
                    }
        
                    @include Responsive(xl) {
                        margin-bottom: 49px;
                    }


                }

                .form-inner-item {
                    text-align: left;
                    margin-bottom: 22px;

                    label {
                        font-family: Gilroy-Medium;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: -0.25px;
                        text-align: left;
                        color: #001C63;
                        margin-bottom: 8px;
                    }

                    input {
                        width: 100%;
                        background: #FFFFFF;
                        border: 1px solid #D0D4EA;
                        box-sizing: border-box;
                        border-radius: 6px;
                        outline: none;
                        padding: 12px 16px;

                        font-family: Gilroy-Regular;
                        font-size: 16px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        color: #ABB2D9;

                        &:focus {
                            outline: 2px solid transparent;
                            outline-offset: 2px;
                            --tw-ring-offset-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
                            --tw-ring-shadow: rgba(59, 130, 246, 0.5) 0px 0px 0px 3px;
                            --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
                            box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
                        }
                    }
                }

                .form-footer {
                    display: flex;

                    @include Responsive(xs) {
                        padding-top: 11px;
                        flex-wrap: wrap-reverse;
                        justify-content: center;
                        row-gap: 25px;

                    }

                    @include Responsive(sm) {
                        padding-top: 11px;
                        flex-wrap: wrap-reverse;
                        justify-content: center;
                        row-gap: 25px;

                    }

                    @include Responsive(md) {
                        padding-top: 11px;
                        flex-wrap: wrap-reverse;
                        justify-content: center;
                        row-gap: 25px;

                    }
        
                    @include Responsive(xl) {
                        padding-top: 36px;
                    }

                    p {
                        margin-bottom: 0;
                        font-family: Gilroy-Regular;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0px;
                        color: #AFC0CF;
                        
                        @include Responsive(xs) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            text-align: center;
                        }

                        @include Responsive(sm) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            text-align: center;
                        }

                        @include Responsive(xl) {
                            flex: 1;
                            margin-right: 45px;
                            text-align: left;
                        }
            
                    }

                    input[type="submit"] {
                        padding: 17px 32px;
                        background: #273A5F;
                        box-shadow: 0px 6px 10px #D2E2ED;
                        border-radius: 8px;
                        border: none;
                        font-family: Gilroy-SemiBold;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #FFFFFF;
                        max-width: 123px;

                        &:hover {
                            outline: 2px solid transparent;
                            outline-offset: 2px;
                            --tw-ring-offset-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
                            --tw-ring-shadow: rgba(59, 130, 246, 0.5) 0px 0px 0px 3px;
                            --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
                            box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
                        }
                    }
                }
            }
        }

        .col-img {
            padding-bottom: 46px;
        }

        .col-img-wrap {
            text-align: left;

            img {
                max-width: 100%;
            }
        }
    }
}