body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy-SemiBold"),
   url("./assets/fonts/gilroy/Gilroy-SemiBold.ttf") format("woff");

  
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
   url("./assets/fonts/gilroy/Gilroy-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
   url("./assets/fonts/gilroy/Gilroy-Light.ttf") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
   url("./assets/fonts/gilroy/Gilroy-Medium.ttf") format("woff");
}